hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco-principal);
    padding: 1rem;
}

.rodape__titulo {
    font-weight: 400;
}

.rodape__lista {
    display: none;
}


@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 5rem 0;
    }

    .rodape__lista {
        display: block;
    }
    
    .rodape__titulo {
        font-size: 24px;
    }

    .rodape__lista__titulo {
        font-size: 14px;
        color: var(--cinza);
        margin-bottom: 2rem;
    }

    .rodape__lista__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0.6rem 0;
    }

    .rodape__link {
        color: var(--cinza-link);
        text-decoration: none;
    }

   
}